body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0%;
  padding: 0% 5% 0% 5%;
  background-color: #222831;
  color: #eeeeee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#box {
  background-color: #393e46;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 528px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#box h1 {
  font-size: 4em;
  background: linear-gradient(270deg, #ff4b1f, #1fddff, #1fffa5, #1f7eff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Brush Script MT", cursive;
  animation: gradient-animation 4s ease infinite;
}

.container {
  --borderWidth: 3px;
  background: #393e46;
  position: relative;
  border-radius: var(--borderWidth);
}
.container:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #00adb5;
    color: #eeeeee;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #028086;
  }
  button:focus {
    outline: none;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  th,
  td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    color: white;
  }
}
.body-container {
  height: 300px;
  overflow-y: scroll;
}
.my-popup-class {
  background-color: #222831;
  border: 2px solid #333;
  color: white;
}
.my-title-class-error {
  color: #e74c3c;
}
.my-confirm-button-class {
  background-color: #3498db;
  color: #fff;
}

.body-container {
  --sb-track-color: #34373d;
  --sb-thumb-color: #48484b;
  --sb-size: 14px;
}

.body-container::-webkit-scrollbar {
  width: var(--sb-size);
}

.body-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 16px;
}

.body-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 16px;
}

@supports not selector(::-webkit-scrollbar) {
  .body-container {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.complete-btn {
  border: none;
  background-color: #616161;
  color: white;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    background-color: #818181;
    transition: background 0.4 ease;
    cursor: pointer;
  }
}
.delete-btn {
  border: none;
  background-color: #ff5252;
  color: white;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    background-color: #ff7575;
    transition: background 0.4 ease;
    cursor: pointer;
  }
}

.buttons button{
  background-color: #00adb5;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}


@media (max-wigth: 700px) {
  #box {
    width: 100%;
    padding: 10px;
  }
  #box h1 {
    font-size: 3rem;
  }
  table {
    width: 100%;
  }
  button {
    padding: 5px 10px;
  }
  input {
    width: 100%;
  }
  button:hover {
    background-color: #028086;
  }
  button:focus {
    outline: none;
  }
  table th,
  td {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  #box {
    width: 100%;
    padding: 10px;
  }
  #box h1 {
    font-size: 3rem;
  }
  table {
    width: 100%;
  }
  button {
    padding: 5px 10px;
  }
  input {
    width: 100%;
  }
  button:hover {
    background-color: #028086;
  }
  button:focus {
    outline: none;
  }
  table th,
  td {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  #box {
    width: 100%;
    padding: 10px;
  }
  #box h1 {
    font-size: 3rem;
  }
  table {
    width: 100%;
  }
  button {
    padding: 5px 10px;
  }
  input {
    width: 100%;
  }
  button:hover {
    background-color: #028086;
  }
  button:focus {
    outline: none;
  }
  table th,
  td {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  #box {
    width: 100%;
    padding: 10px;
  }
  #box h1 {
    font-size: 3rem;
  }
  table {
    width: 100%;
  }
  button {
    padding: 5px 10px;
  }
  input {
    width: 100%;
  }
  button:hover {
    background-color: #028086;
  }
  button:focus {
    outline: none;
  }
  table th,
  td {
    padding: 10px;
  }
}
