body{
    background-color: #FFE6C9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0%;
}


.container{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    background-color: white;
    padding: 0.3rem;
    border-radius: 30px;
    width: 70%;
    h1{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
}

.image{
    img{
        width: 550px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-top: 2px;
    }
}
.form{
    color:#525252;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
    .social{
        border: 1px solid rgb(0, 0, 0,0.2);
        border-radius: 3px;
        text-align: center;
        padding: 2px;
        width: 256px;
        height:31px;
        span{
            position: relative;
            bottom: 7px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    #or{
        text-align: center;
        font-size: small;
        opacity: 0.5;
        &::after{
            content: ".............."; 
        }
        &::before{
            content: "..............";
        }
    }
    .input{
        input{
            width:240px;
            border: 1px solid;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid rgb(0, 0, 0,0.2);
        }
    }
    a{
        color: #7F265B;
        text-decoration: none;
        font-size: 15px;
    }
    button{
        width: 262px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #7F265B;
        color: white;
        margin-top: 5px;
    }
}
