* {
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.btn-open {
    width: 100px;
    height: 100px;
    background-image: url("../image/img-3.jpg");
    background-size: cover;
    border: none;
    border-radius: 100px;
}

.sidebar {
    position: relative;
    transition: all 0.3s ease;
    width: 300px;
    background-color: rgb(22, 27, 34);
    color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-close {
    background-color: none;
    border: none;
    background-color: rgb(22, 27, 34);
}

h4,
p {
    margin: 0%;
    padding: 0%;
}

a {
    display: block;
    text-decoration: none;
    padding: 6px 8px;
    color: white;
    padding: 10px;
}
a:hover{
    background-color:rgb(48, 55, 65);
    border-radius: 10px;
}
svg{
    color: white;
}

.hide{
    position: relative;
    transform: translate(-300px);
    right: 330px;
}
.hide-btn{
    display: none;
}
hr{
    margin: 5px;
}

