* {
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    background-color: #222831;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    max-width: 100%;
    max-height: 30px;
    padding: 5vh;
    background-color: #31363F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 10);
}

header input {
    background: none;
    border: none;
    width: 500px;
    padding: 3px;
    border: 1px solid #76ABAE;
    font-size: 20px;
    border-radius: 10px;
}

header input:focus {
    border: 1px solid #11998e;
    outline: none;
    transition: all 0.4s ease-in-out;
    caret-color: #11998e;
}

header input:hover {
    cursor: pointer;
}

.search-box {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 720px;
    background-color: #31363F;
    padding: 20px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 10);
    border-radius: 10px;
    transform: translateY(-400%);
    transition: transform 0.4s ease;
}

.open {
    transform: translateY(0%);
    transform: translateX(-50%);
}

.search-box input {
    background: none;
    border: none;
    width: 700px;
    padding: 7px;
    border: 1px solid #76ABAE;
    font-size: 20px;
    border-radius: 10px;
    color: #EEEEEE;
}

.search-box input:focus {
    border: 1px solid #11998e;
    outline: none;
    transition: all 0.4s ease-in-out;
    caret-color: #11998e;
}

.book-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
.search-item{
    display: flex;
    color: #EEEEEE;
    padding: 10px;
    transition: all 0.2s ease;
}
.search-item svg{
    padding-top: 2px;
}
.search-item p{
    padding-left: 5px;
}