* {
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    background-color: #222831;

}

header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 30px;
    padding: 5vh 0vh 5vh 0vh;
    background-color: #31363F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 10);
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
}

li:last-child {
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

a:hover {
    color: #76ABAE;
    transition: 0.4s;
}
header button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding-right: 40px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -300%; 
    transition: left 0.3s ease;
    width: 300px;
    background-color: #31363F;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    color: #EEEEEE;
    padding: 20px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 10);
}

.sidebar.show {
    left: 0;
}

