.table{
    color: #EEEE;
    width: 500px;
    padding: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.table-header{
    text-align: center;
    font-size: larger;
    padding-bottom: 10px;
}
.table table{
    width: 500px;
    text-align: center;
    border-radius: 10px;
}
th,td{
    padding: 5px;
}